/* --- put your css here --- */

/*   */

/* 2. modfied body element, specifically the backgroun color to sky blue */ 
body{background-color: skyblue;}

/* 3. change #igottabeme font, I changed the color to purple so that you can see it better */ 
#igottabeme{font-style:Arial, Helvetica, sans-serif;
            color: purple}


/* 4. left margin indent changed by 10 px for attribute classy */
.classy{ margin-left: 10px; }

/* 5. div elements bottom margins 50px */
div{
margin-bottom: 50px;
}

/* 6. modifying the span elements': height, width, padding, border, background color*/
span{
  width: 100px;
  height: 50px;

  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;

  border: solid;
  border-color: rgb(106, 150, 189);

  background-color: hsla(60, 100%, 62%, 0.966);
}

/* 7. span display property: inline, block or both  */
span.a { display:inline; } /*Cant set width and height, allows elements left and right */
span.b { display:block; } /*Stacks */
span.c { display:inline-block; } /*Can set width and height, allows element left and right*/

/* 8. Position icons */

img[alt = "cat icon"]{
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 0; /* bottom right with priority in the stack */
}

img[alt = "dog icon"]{
  position: relative;
  left: 50px;
  top: 150px; /* 50px to the left and 150px above */
}

img[alt = "bird icon"]{
  position: absolute;
  top: 50px;
  left: 250px;
  z-index: 1; /* inside div infront of the text */
}

/* 9. Nav bar stuck to the top, has priority in stack, green background, @ 90%*, etc*/
nav{
  position: fixed;
  z-index: -1;

  background-color: rgb(77, 204, 77);
  opacity: 90%;

  padding: 5px;
  font-size: 20px;
}

/* external css is imported into html using the <link> tag in the <head> section, as shown below.

  <head>
    <link rel="stylesheet" href="assignment02.css">
  </head>

*/


/* ---10.  pre-existing css --- */
/*   ---   pre-existing   css   ---   */  
.stripey   tr:nth-child(even)   {  
  background-color:   gray;  
}  
.stripey   tr:nth-child(odd)   {  
  background-color:   white;  
}  
.stripey   th   {  
  color:   white;  
  background-color:   black;  
}  
.mousey   td:hover   {  
  background-color:   yellow;  
}  
.rightey   td   {  
  text-align:   right;  
}  
input[type="text"].pinkey:focus   {  
  background-color:   pink;  
}  
